// Fonts are below
$quicksand: "Quicksand", serif;
// Colors are below
$clr_white: #ffffff;
$clr_black: #000000;
$clr_4fd3df: #4fd3df;
$clr_ff2550: #ff2550;
$clr_e8f9fb: #e8f9fb;
$clr_ff255149: #ff255149;
$clr_dfdfdf: #dfdfdf;
$clr_f7f7f7: #f7f7f7;